!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    //
       jsoneditor 
    link(rel='stylesheet', type='text/css', href='/css/jsoneditor.css')
    script(type='text/javascript', src='/js/jsoneditor.js')
    //
       ace code editor 
    script(type='text/javascript', src='/lib/ace/ace.js')
    script(type='text/javascript', src='/lib/ace/mode-json.js')
    script(type='text/javascript', src='/lib/ace/theme-textmate.js')
    script(type='text/javascript', src='/lib/ace/theme-jsoneditor.js')
    //
       json lint 
    script(type='text/javascript', src='/lib/jsonlint/jsonlint.js')
    style(type='text/css')
      body, select {
      font: 10pt arial;
      font-family: arial, sans-serif;
      font-size: 11pt;
      }
      #jsoneditor {
      width: 500px;
      height: 500px;
      }
  body
    p
      label(for='mode') Switch mode:
      select#mode
        option(value='tree') tree
        option(value='view') view
        option(value='form') form
        option(value='code') code
        option(value='text') text
    #jsoneditor
    script(type='text/javascript')
      // create switchable mode
      var mode = document.getElementById('mode');
      mode.onchange = function () {
      editor.setMode(mode.value);
      };
      // create the editor
      var container = document.getElementById("jsoneditor");
      var options = {
      mode: mode.value,
      error: function (err) {
      alert(err.toString());
      }
      };
      var json = "#{data}";
      var editor = new jsoneditor.JSONEditor(container, options, json);

